defaults: &defaults
  adapter: postgresql
  template: template0
  encoding: utf8
  collation: ru_RU.UTF-8
  ctype: ru_RU.UTF-8
  reconnect: true
  pool: 10

production:
  <<: *defaults

development:
  <<: *defaults
  database: 'hwc_timeline_dev'
  host: 'localhost'
  port: '5432'
  username: 'nilcolor'
  password: 'nilcolor'
  database: 'hwc_timeline'

staging:
  <<: *defaults

test: &test
  <<: *defaults
  database: 'hwc_timeline_test'
