defaults: &defaults
  adapter: postgresql
  template: template0
  encoding: utf8
  collation: ru_RU.UTF-8
  ctype: ru_RU.UTF-8
  reconnect: true
  pool: 10

production:
  <<: *defaults
  host: localhost
  port: 5432
  database: hwc_timeline
  username: postgres
  password: postgres

development:
  <<: *defaults

staging:
  <<: *defaults

test: &test
  <<: *defaults
